*{  margin: 0;
    padding: 0;}
    ul,ol,li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .login{
    background: #f2f2f2;
    height: 30px;
    width: 100%;
}
.log-center{width: 1000px;
            height: 30px;
            margin: 0 auto;
}
.log-left{
    float: left;
    width: 220px;
    height:30px;
}
.log-ul li{
    float: left;
    line-height: 30px;
    font-size:12px;
}
.log-ul li img{
    margin-top: 4px;
}
.log-center span{
    margin:0 20px;
}
.log-right{
    width: 220px;
    height:30px;
    float: right;
//  background: url(../img/base_z.min.png) -405px -323px;
    margin-right: 80px;
}
.log-ul2 li{
    float: right;
    font-size: 12px;
    line-height: 30px;
}
.log-ul2{
    margin-right: 20px;
}
header{
    width: 1000px;
    height: 90px;
    margin: 0 auto;
}
.header-left{
    width: 500px;
    float: left;
}
.header-left .i1{
    margin-top: 30px;
}
.header-right{
    float: right;

    width: 500px;
}
.inputbutton{
    float: right;
    width: 359px;
    height: 36px;
    margin-top: 30px;
}
.input{
    float: right;
    width: 318px;
    height: 36px;
    border: 1px solid black;
}
button{
    float: right;
        width: 38px;
        height: 38px;
//      background: url(../img/3.min.jpg) no-repeat right center;
        border:0;
        cursor: pointer;
    }
nav{
    background:black;
    width: 100%;
    height: 40px;
    overflow: hidden;
    .nav-center{
        margin: 0 auto;
        background: red;
        width: 1000px;
        .nav-right{
            float: right;
            span,img{margin: 10px;
                color: white;
                float: right;
            }
        }
    }
}
nav .nav-center .ul {
    
     .li-first{
        line-height: 40px;
        float: left;
        width: 83px;
        font-size: 13px; 
//      background: green;
        //导航二级菜单 
        .li2 ul {
            margin: 20px;
                .li2-h{
                    width:220px ;
                    height: 50px;
                border-bottom: 1px solid #999999;
            }
            li{
                float: none;
                line-height: 30px;
            }
        }//.li2 ul结束
        //一级Li下的a
           .iii{
               display: block;
               height: 40px;
                color: white;
                &:hover{
                    color: red;
                    li{
                        color: black;
                        &:hover{
                            color:red 
                        }
                    }
                    .li2{
                      display: block;
                      }
                }
        }
    }   
} 
//二级菜单样式
.nav-center .ul .li-first .li2{
            width: 586px;
            height:300px;
            background: white;
            display: none;
        box-shadow: 5px 5px 5px #F2F2F2;
            background: gainsboro;
           // position: absolute;
           position: fixed;
            z-index: 20;
            .li2-left{
                height: 280px;
                width: 255px;
                float: left;
                border-right: 1px solid #999999;
            }
            .li2-right{
                height: 280px;
                width: 250px;
                float: left;
            }
    }
 .three-p{
     width: 1000px;
     height: 220px;
     margin: auto;
         .hone{
             width: 1000px;
             height: 37px;
             border-bottom: 1px solid #DEE1FF;
             ul{
             width: 600PX;
             height: 30px;
             float: left;
             li{
             float: left;  
             margin-right: 11px;
             margin-top: 10px;  
             font-size: 12px;
             
             span{
                 text-align: center;
             }
             .gray{
                 color: gray;
             }
             a{
                 color:gray;
             }
             }
         }
             .time{
             width: 210px;
             height: 30px;
             float: right;
             p{
                 background: url(../../dist/img/base_z.min.png) no-repeat -370px -345px;
                 width: 100px;
                 height: 30px;
                 float: left;
                 line-height: 37px;
                 text-indent: 28px;
                 font-size: 13px;
                 font-weight: 100;
             }
             .countdown{
                 float: right;
                 width: 110px;
                 height: 30px;
                 margin-top: 10px;
                 color: red;
                 font-size: 12px;
             }
            }
      
         }
    .htwo{
        width: 1000px;
        height: 60px;
        overflow: hidden;
        P{
           font-size: 20px;
           margin-top: 15px;
           span{
               color: red;
               .zhe{
                   font-size: 12px;
               }
           } 
        }
    } 
    .hthree{
        width: 995px;
        height: 100px;
        overflow: hidden;
        border: 1px solid #DEE1FF;
        box-shadow: 5px 5px 1px #F2F2F2;
        p{
            margin: 14px ;
            text-indent: 25px;
            font-size: 14px;
            background: url(../../dist/img/icon_gift.min.gif) no-repeat;
        }
    }      
 }  
 //中间筛选部分 
.screening {
    
}
//列表页
.list{
    width: 1000px;
    height: 1300px;
    margin: auto;
    .list-header{
        width: 1000px;
        height: 50px;
        margin: auto;
        .a1,.a2{
            width: 100px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            display: block;
            float: left;
            border: 1px solid #CDCDCD;
            font-size: 12px;
        }
        .a1{
            background: #F2F2F2;
            margin-right: 10px;
        }
        .list-header-right{
            width: 200px;
            height: 30px;
            float: right;
            font-size: 12px;
            p{
                float: left;
                margin-right: 15px;
                line-height: 30px;
            }
            a{
                float: left;
                width: 30px;
                height: 28px;
                border: 1px solid black;
                display: block;
                margin-right: 5px;
            }
        }
    }
    ul{ 
        
       li{
           width: 235px;
           height: 390px; 
           float: left;
           cursor: pointer;
           margin: 7px;
           position: relative;
           .imgbox2{
                width: 235px;
                height: 313px;
                .img2{
                    position: absolute;
                    top: 0;
                    display: none;
                    
                }
//               &:hover{
//                 #mark{
//                     display: block;
//                 }
//             }
         }
                            &:hover{
                   #mark{
                       display: block;
                   }
               }
           .price2{
               width: 235px;
               height: 76px;
               font-size: 13px;
//             background: greenyellow;

               p{
                   
                   .price-red{
                       color: red;
                       font-size: 16px;
                   }
                   
               }
           }
           #mark{
               width: 235px;
               height: 76px;
               background: white;
               position: absolute;
               z-index: 1;
               bottom: 0;
               display: none;
               .smallbox1{
                   width: 50px;
                   height: 67px;
                   border: 1px solid black;
                   float: left;
                   margin: 2px;
                   margin-left: 14px;
//                 &:hover{
//                     .img2{
//                         display: block;
//                     }
//                 }

               }
               .smallbox2{
                   width: 50px;
                   height: 67px;
                   border: 1px solid black;
                   float: left;
                   margin: 2px;
                   position: absolute;
                   right: 100px;
                   top: 0px;
                   
               }
           }
       }  
    }
//  .list ul li .imgbox2:hover #mark{
//      display: block;
//  }
}
footer{
    background:#f2f2f2;
    width: 100%;
    .footer-center{
        margin: auto;
        width: 1000px;
        height: 285px;
        overflow: hidden;
        margin-top: 20px;
        .footerbox{
                width: 1000px;
                height: 60px;
                margin-top: 30px;
                 .f1,.f2,.f3,.f4,.f5{
                     float: left;
                 }   
                
            .f1,.f2,.f3,.f4,.f5{
                width: 199px;
                height: 60px;
                border-right: 1px solid #555555;
                .img1{
                    margin: auto;
                    width: 32px;
                    height: 28px;
                    background: url(../img/base_z.min.png) no-repeat -370px -115px;
                }
                .img2{
                    margin: auto;
                    width: 32px;
                    height: 28px;
                    background: url(../img/base_z.min.png) no-repeat -488px 5px;
                }
                .img3{
                    margin: auto;
                    width: 32px;
                    height: 28px;
                    background: url(../img/base_z.min.png) no-repeat -220px -150px;
                }
                .img4{
                    margin: auto;
                    width: 32px;
                    height: 28px;
                    background: url(../img/base_z.min.png) no-repeat -217px -385px;
                }
                .img5{
                    margin: auto;
                    width: 32px;
                    height: 28px;
                    background: url(../img/base_z.min.png) no-repeat -366px -346px;
                }
            }
            span{
                font-size: 14px;
                margin: auto;
                display: block;
                margin-top: 5px;
                width: 88px;
                height: 20px;
                text-align:center ; 
            }
        }
        ul{
            margin: auto;
            width: 756px;
            height: 20px;
            margin-top: 30px;
            li{
                margin: 5px;
                float: left;
                margin: 5px 30px;
                font-size: 12px;
            }
        }
    }
}
//移入变色
.f1:hover{
           .img1{
                visibility:hidden;
               }
                background: url(../img/base_z.min.png) no-repeat -286px 2px;
          }
          .f2:hover{
           .img2{
                visibility:hidden;
               }
                background: url(../img/base_z.min.png) no-repeat -404px -107px;
          }  
          .f3:hover{
           .img3{
                visibility:hidden;
               }
                background: url(../img/base_z.min.png) no-repeat -137px -268px;
          }  
    .footer-center {
        p{
            display: block;
         margin: 30px auto;
         width: 575px;
        } 
         .imgfooter{
             margin: 30px auto;
             width: 50px;
             height: 42px;  
         }
     }   